[submodule "lib_submodules/LX"]
	path = lib_submodules/LX
	url = https://github.com/heronarts/LX.git
[submodule "lib_submodules/P3LX"]
	path = lib_submodules/P3LX
	url = https://github.com/heronarts/P3LX.git
