[submodule "lib/lx/git_submodule"]
	path = lib/lx/git_submodule
	url = https://github.com/heronarts/LX.git
[submodule "lib/p3lx/git_submodule"]
	path = lib/p3lx/git_submodule
	url = https://github.com/heronarts/P3LX.git
[submodule "lib/minim/git_submodule"]
	path = lib/minim/git_submodule
	url = https://github.com/ddf/Minim.git
	branch = v2.2.2
